
h1 {
    color: blue;
}

div{
    margin: 5px;
}

#third > span {
    visibility: hidden;  /*leaves space*/
    /* display: none; remove completly */
}
/* #fifth > p{
    display: none;
} */
#sixth > img{

    width: 600px; height: 300px;

}