div {
    /*Intermediate exercise
    margin: 5px;*/
}

h1 {
    /*Intermediate exercise
    color: blue;*/
}

#third>span {
    /*intermediate exercise
    display: none;*/
}

#fifth>p {
    /*intermediate exercise
    display: none;*/
}

#sixth>img {
    /*intermediate exercise
    width: 300px;
    height: 300px;*/
}

#fifth p {
    color: yellowgreen;
}